* {
  box-sizing: border-box;
  list-style: none;
}
body {
  margin: 0px;
}
header {
  padding: 50px;
  text-align: center;
  background-color: black;
  color: yellow;
}

header h1 {
  font-size: 50px;
}

nav a {
  display: block;
  color: yellow;
  padding: 20px;
  text-align: center;
  float: left;
}

nav {
  background-color: black;
  overflow: hidden;
  text-align: center;
}

nav a:hover {
  color: aqua;
}
section {
  text-align: center;
  padding-top: 40px;
  height: 100vh;
}
